@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tinos", serif;
}

/* Header style */

.header-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-upper .about a {
  font-weight: 400;
  font-size: 12;
  font-style: normal;
  color: black;
}

.header-upper .about a:hover {
  color: #E10002;
  transition: color 0.25s;
}

.header-upper .social-media a {
  color: black;
}

.header-upper .social-media a:hover {
  color: #E10002;
  transition: color 0.25s;
}

.header-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-lower .about a {
  font-weight: 400;
  font-size: 22;
  font-style: normal;
  color: black;
}

.header-lower .about a:hover {
  color: #E10002;
  transition: color 0.25s;
}

/* Footer Style */

.footer {
  background-image: url('./assets/dgsc-footer.jpeg');
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: white;
}

a:hover {
  color: red;
  transition: color 0.25s;
}

.table-data,
.table-data-phone {
  font-family: "Tinos", serif !important;
  border-collapse: collapse;
  width: 100%;
}

.table-data {
  font-size: 12pt !important;
}

.table-data-phone {
  font-size: 10px !important;
  width: 70%;
}

.table-data th,
.table-data-phone th {
  background-color: #4f81bd;
  color: white;
  border: 1px solid black;
  text-align: center;
  padding: 4.224px;
}

.table-data td,
.table-data-phone td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  padding: 4.224px;
}

.table-data td:first-child,
.table-data-phone td:first-child {
  text-align: left;
  padding: 4.224px;
}

.table-data .green,
.table-data-phone .green {
  background-color: #38a454;
  color: white;
  font-style: italic;
  font-weight: bold;
}
